h1 {
    color: rgb(48, 79, 145);
}

.color-change {
    color: green;
}

.color-change-two {
    color: red;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px 50px 2fr;
    grid-auto-columns: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "header welcome"
      "form form"
      "fact fact";
  }
  
  .header { grid-area: header; }
  
  .welcome { grid-area: welcome; }
  
  .form { grid-area: form; }
  
  .fact { grid-area: fact; }
  